<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Alunos</ion-title>
    <ion-icon slot="end" class="ion-padding" name="close" (click)="goToHome()"></ion-icon>  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>João Pedro</ion-card-title>
            <ion-card-subtitle>22201613</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            ADS301M - Manhã - Bonsucesso
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>Roberto</ion-card-title>
            <ion-card-subtitle>22200752</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            ADS301M - Manhã - Bonsucesso
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>Rogério Wanderley</ion-card-title>
            <ion-card-subtitle>22200252</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            ADS301M - Manhã - Bonsucesso
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
