<ion-content>


  <!-- Estatísticas de Violência Doméstica -->
  <section class="statistics-section">
    <ion-grid class="container">
      <ion-row>
        <ion-col size="12">
          <ion-card style="">
            <ion-card-header>
              <ion-card-title><h1>Help Woman: Apoio às Mulheres</h1></ion-card-title>
              <ion-card-subtitle>Dados impactantes sobre o problema no Brasil</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <section>
                <div>
                  <p>Nosso objetivo é combater a violência doméstica e oferecer suporte para mulheres em situações de
                    vulnerabilidade.</p>
                  <ion-button expand="block" [routerLink]="['/home']">Página Principal</ion-button>
                </div>
              </section>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- Como Podemos Ajudar -->
  <section class="help-section">
    <ion-grid class="container">
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Suporte Psicológico</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Oferecemos suporte emocional e psicológico para ajudar mulheres a superarem o trauma da violência
              doméstica.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Assistência Jurídica</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Apoiamos mulheres com assistência jurídica para que conheçam seus direitos e busquem justiça.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- Depoimentos -->
  <section class="testimonials-section">
    <ion-grid class="container">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Depoimentos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <blockquote>"O Help Woman me ajudou a encontrar o apoio que precisava em um momento difícil da minha
                vida."
              </blockquote>
              <p>- Maria, beneficiada pelo projeto</p>
            </ion-card-content>
          </ion-card>
