<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start" style="color: white">Cadastro</ion-title>
    <ion-icon slot="end" class="ion-padding" name="close" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  <div class="ion-text-center ion-padding">
    <ion-title>Bem Vindo</ion-title>
    <p>Cadastre-se para acessar sua conta</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-icon class="ionIconInp" name="mail-outline"></ion-icon>
        <ion-input placeholder="Email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon class="ionIconInp" name="lock-closed-outline"></ion-icon>
        <ion-input placeholder="Senha" type="password"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" class="ion-margin-top">Confirmar</ion-button>

  </form>
</ion-content>
