
.main-content {
  --background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-title {
  font-size: 1.5rem;
  color: #34495e;
}

ion-toolbar{
  --background: #8e44ad;
  --color: white;
}

ion-title {
  --background: #8e44ad;
  --color: white;
}

p {
  color: #7f8c8d;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

ion-item {
  --background: #fff;
  --border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-input {
  color: #34495e;
}

.ionIconInp {
  color: #34495e;
}

a {
  text-decoration: none;
  color: #8e44ad;
  font-weight: bold;
}

ion-button {
  --background: #8e44ad;
  --color: white;
  margin-top: 20px;
}

ion-tabs ion-tab-bar {
  --background: #8e44ad;
  --color: white;
}

ion-row ion-col ion-button {
  --background: #8e44ad;
  --color: white;
}
